# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Temporary files
tmp/
temp/
.next/

# IDE and Editor specific files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
bower_components/
jspm_packages/

# Other files
package-lock.json
yarn.lock